<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="sq" verbose="1" >

    <test name="Login Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Login FireFox" >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>