<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="sq" verbose="1" >
    
    <test name="Regression Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.RegistrationTest"/>
        </classes>
    </test>

    <test name="Regression Firefox" >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>